#root {
  align-self: flex-start;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  margin-bottom: 10px;
  max-width: 250px;
}

img {
  max-width: 100%;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbar-item {
  border: 2px solid black;
}

.toolbar-item__select {
  color: white;
  background-color: black;
  transition: all 0.3s;
}